<ion-view view-title="New/Edit Todo">
	<ion-content>
	 	<div class="list card">
			<div class="item item-input">
				<input type="text" ng-model="todo.work" placeholder="Title">
			</div>
			<div class="item item-input">
				<textarea ng-model="todo.description" rows="5" placeholder="Description"></textarea>
			</div>
			<div class="item item-input">
				<input type="text" ng-model="todo.date" placeholder="mm/dd/yyyy">
			</div>
	 	</div>
	 	<div class="padding">
			<button class="button button-block button-assertive" ng-click="save()">Save</button>
	 	</div>
	</ion-content>
</ion-view>