<div class="container">		
<form class="form-horizontal" role="form" name="createForm" novalidate>
		
	    <div class="form-group">
	      <label class="control-label col-sm-2" for="tname">Work name:</label>
	      <div class="col-sm-4">
	        <input type="text" class="form-control" name="taskname" ng-model="data.workname" placeholder="Work" required>
	       
	        
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="control-label col-sm-2">List of Task:</label>
	      <div class="col-sm-4">          
	       <textarea class="form-control" cols="10" rows="5" ng-model="data.tasks" placeholder="List of tasks" required></textarea>
	         
	      </div>
	    </div>
		<div class="form-group">
	      <label class="control-label col-sm-2">Date:</label>
	      <div class="col-sm-4">          
	       	<input type="date" date-input class="form-control" name="date" ng-model="data.date" placeholder="date" required>
	         
	      </div>
	    </div>	    

	    <div class="form-group">        
	      <div class="col-sm-offset-2 col-sm-10">
	        <button type="button" class="btn btn-success" ng-click="addTask(data)"><i class="fa fa-tasks"> Create Task</i></button>
	      </div>
	    </div>
  	</form>						
</div>